In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType, FloatType, LongType, StructType,StructField, StringType

In [ ]:
spark = SparkSession.builder.appName("Jupyter").getOrCreate()
# spark.sparkContext.setLogLevel("DEBUG")

25/08/17 15:30:11 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [7]:
spark.stop()

In [5]:
# configs = spark.sparkContext.getConf().getAll()
# for k, v in configs:
#     print(f"{k} = {v}")

In [2]:
spark

In [6]:
spark.sql("SHOW CURRENT NAMESPACE").show()

+-------+----------------+
|catalog|       namespace|
+-------+----------------+
|   demo|retail_analytics|
+-------+----------------+

In [7]:
# spark.sql("SHOW NAMESPACES IN demo").show()
# spark.sql("CREATE NAMESPACE demo.retail_analytics")
# spark.sql("USE demo.retail_analytics")

In [ ]:
df = spark.read.csv("s3a://csv-input/customers.csv", header=True)

25/08/17 14:35:00 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

In [12]:
df.toPandas().head(5)

,customer_id,customer_address,customer_state,customer_zip_code,customer_created_date,customer_updated_date
0,00000001,92666 Kimberly Well,FL,32766,2020-09-25,None
1,00000002,619 Joseph Coves,VT,05108,2020-06-11,None
2,00000003,07930 Steven Plains,PR,00626,2020-05-27,None
3,00000004,7738 Katelyn Road,MI,49969,2021-09-08,None
4,00000005,6219 Taylor Junctions,IA,50409,2020-03-14,None

In [13]:
df.write.saveAsTable("customers")

In [9]:
spark.sql("SELECT * FROM customers LIMIT 5").show()

+-----------+--------------------+--------------+-----------------+---------------------+---------------------+
|customer_id|    customer_address|customer_state|customer_zip_code|customer_created_date|customer_updated_date|
+-----------+--------------------+--------------+-----------------+---------------------+---------------------+
|   00000001| 92666 Kimberly Well|            FL|            32766|           2020-09-25|           2025-08-11|
|   00000002|    619 Joseph Coves|            VT|            05108|           2020-06-11|                 NULL|
|   00000003| 07930 Steven Plains|            PR|            00626|           2020-05-27|                 NULL|
|   00000004|   7738 Katelyn Road|            MI|            49969|           2021-09-08|                 NULL|
|   00000005|6219 Taylor Junct...|            IA|            50409|           2020-03-14|                 NULL|
+-----------+--------------------+--------------+-----------------+---------------------+---------------------+

In [15]:
spark.sql("UPDATE customers SET customer_updated_date='2025-08-11' WHERE customer_id=00000001")

DataFrame[]

In [10]:
spark.stop()