In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    StructType,
    StructField,
    TimestampType,
    StringType,
)

In [23]:
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

In [50]:
spark

In [51]:
spark.sql("SHOW NAMESPACES IN demo").show()

+----------------+
|       namespace|
+----------------+
|retail_analytics|
+----------------+

In [52]:
spark.sql("SHOW CURRENT NAMESPACE").show()

+-------+----------------+
|catalog|       namespace|
+-------+----------------+
|   demo|retail_analytics|
+-------+----------------+

In [53]:
spark.sql("SHOW TABLES IN demo.retail_analytics").show()

+----------------+-----------------+-----------+
|       namespace|        tableName|isTemporary|
+----------------+-----------------+-----------+
|retail_analytics|     dim_customer|      false|
|retail_analytics|         dim_date|      false|
|retail_analytics|      dim_product|      false|
|retail_analytics|       dim_seller|      false|
|retail_analytics|  fct_order_items|      false|
|retail_analytics|fct_order_summary|      false|
|retail_analytics|     stg_customer|      false|
|retail_analytics|  stg_order_items|      false|
|retail_analytics|       stg_orders|      false|
|retail_analytics|      stg_product|      false|
|retail_analytics|       stg_seller|      false|
|retail_analytics| tmp_dim_customer|      false|
|retail_analytics|  tmp_dim_product|      false|
|retail_analytics|   tmp_dim_seller|      false|
+----------------+-----------------+-----------+

In [ ]:
df = spark.read.parquet("s3a://demo-bucket/order_items.parquet")

In [20]:
df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_address: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zip_code: string (nullable = true)
 |-- customer_created_date: date (nullable = true)
 |-- customer_updated_date: integer (nullable = true)

In [21]:
df.show(5)

+-----------+--------------------+--------------+-----------------+---------------------+---------------------+
|customer_id|    customer_address|customer_state|customer_zip_code|customer_created_date|customer_updated_date|
+-----------+--------------------+--------------+-----------------+---------------------+---------------------+
|   00000001|04485 Matthew Por...|            SC|            29120|           2022-09-20|                 NULL|
|   00000002|12590 Kristina Forge|            DE|            19892|           2020-06-21|                 NULL|
|   00000003|34324 Nicolas Hei...|            AK|            99662|           2020-02-08|                 NULL|
|   00000004|34324 Wolfe Green...|            WA|            98745|           2023-02-25|                 NULL|
|   00000005|872 Stephanie Pra...|            KY|            40865|           2021-03-03|                 NULL|
+-----------+--------------------+--------------+-----------------+---------------------+---------------------+
only showing top 5 rows

In [34]:
spark.sql("SELECT count(*) FROM fct_order_items").show()

+--------+
|count(1)|
+--------+
| 5998978|
+--------+

In [18]:
spark.stop()